@keyframes bounce{

    100%{
        transform: translate(-50%, 1em);
        opacity: 0;
    }
}

@keyframes clipaththrout{
    // 50%{
    //     clip-path:inset(0% 0% 0% 0%);

    // }
    100%{
        clip-path:inset(0% 0% 0% 0%);

    }
}
@keyframes clipathgo{
    100%{
        clip-path:inset(0% 100% 0% 0%);

    }
}