@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes bounce {
  100% {
    -webkit-transform: translate(-50%, 1em);
            transform: translate(-50%, 1em);
    opacity: 0;
  }
}
@keyframes bounce {
  100% {
    -webkit-transform: translate(-50%, 1em);
            transform: translate(-50%, 1em);
    opacity: 0;
  }
}

@-webkit-keyframes clipaththrout {
  100% {
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes clipaththrout {
  100% {
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
  }
}

@-webkit-keyframes clipathgo {
  100% {
    -webkit-clip-path: inset(0% 100% 0% 0%);
            clip-path: inset(0% 100% 0% 0%);
  }
}

@keyframes clipathgo {
  100% {
    -webkit-clip-path: inset(0% 100% 0% 0%);
            clip-path: inset(0% 100% 0% 0%);
  }
}

--root {
  --primary: #d6d3d3;
  --green: #2a9d8fff;
  --yellow: #e9c46aff;
  --orange: #f4a261ff;
  --red: #e76f51ff;
}

body, html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

strong {
  color: yellow;
}

.section_title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
}

.btn {
  padding: .5em 2em;
  margin-top: 1em;
  border: 1px solid lightgray;
  background-color: transparent;
  color: white;
  font-size: 1.3em;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
  color: yellow;
}

.container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  z-index: 3;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
}

nav a {
  color: white !important;
  margin-right: 3em;
  font-size: 1.5em;
  position: relative;
  text-decoration: none;
}

nav a.brand img {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

nav a:hover {
  text-decoration: none;
  color: yellow !important;
}

nav a.active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
}

@media screen and (max-width: 990px) {
  nav {
    position: relative;
    background-color: #024b45;
    padding: 0;
  }
  nav div {
    padding: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

.home-page {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#018f9c), to(#02181b));
  background-image: linear-gradient(to right bottom, #018f9c, #02181b);
  position: relative;
  color: #969696;
  overflow: hidden;
}

.home-page .bg-decor {
  position: absolute;
  width: 60%;
  height: 80%;
  -webkit-box-shadow: 0 0 10px #55555588;
          box-shadow: 0 0 10px #55555588;
  left: 10%;
  top: 10%;
  border-radius: 1em;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
}

.home-page .bg-decor2 {
  position: absolute;
  width: 20em;
  height: 20em;
  -webkit-box-shadow: 0 0 10px rgba(187, 187, 187, 0.199);
          box-shadow: 0 0 10px rgba(187, 187, 187, 0.199);
  background-color: rgba(34, 34, 34, 0.123);
  right: 20%;
  top: 10%;
  border-radius: 50%;
  -webkit-transform: rotate(-33deg);
          transform: rotate(-33deg);
}

.home-page .container {
  max-width: 80%;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% auto;
      grid-template-columns: 45% auto;
}

.home-page .container .col-md-6 {
  position: relative;
  z-index: 2;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
}

.home-page .container .col-md-6 .button-apropos {
  border: none;
  background: none;
  color: white;
  position: relative;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.616);
  padding: .5em 1em;
  border-radius: 5px;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.home-page .container .col-md-6 .button-apropos span {
  margin-left: .5em;
}

.home-page .container .col-md-6 .button-apropos:hover {
  color: yellow;
  -webkit-box-shadow: inset 0 0 2px white;
          box-shadow: inset 0 0 2px white;
}

.home-page .container .col-md-6 .button-apropos:active {
  outline: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0px 4px black;
          box-shadow: 0 0px 4px black;
}

.home-page .container .col-md-6 .my-name {
  font-size: 5em;
  font-weight: 500;
  font-family: 'Poppins', monospace;
  color: rgba(211, 211, 211, 0.979);
  line-height: .8em;
  position: relative;
  margin-bottom: .5em;
}

.home-page .container .col-md-6 .my-name span {
  color: yellow;
  text-transform: uppercase;
}

.home-page .container .col-md-6 .my-name::after {
  content: "";
  width: 22%;
  height: 10px;
  background-color: yellow;
  top: 100%;
  left: 8px;
  position: absolute;
}

.home-page .container .col-md-6 .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-size: 1.5em;
  padding-left: .5em;
}

.home-page .container .col-md-6 .socials span {
  margin-right: 1em;
  cursor: pointer;
}

.home-page .container .col-md-6 .socials span:hover {
  color: yellow;
}

.home-page .container .col-md-6 h1 {
  font-size: 1.5em;
}

.home-page .container .col-md-6 .introduction {
  position: relative;
  padding-left: 2em;
  text-align: right;
}

.home-page .container .col-md-6 .introduction::before {
  content: "";
  width: 1em;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #8f8f8f;
}

.home-page .container .col-md-6 .apropos {
  margin-top: 1em;
  font-size: .8em;
  line-height: 1.5em;
  color: #f0f0f0;
}

.home-page .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 2em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: bounce 1.5s ease infinite;
          animation: bounce 1.5s ease infinite;
}

/* SERVICES */
.services {
  position: relative;
  background-color: #202020;
  color: #969696 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0 8em;
}

.services .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .container .card {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(71, 71, 71, 0.747)), to(rgba(0, 0, 0, 0.61)));
  background-image: linear-gradient(to left, rgba(71, 71, 71, 0.747), rgba(0, 0, 0, 0.61));
  width: 15em;
  padding: 3em 2em;
  height: 22em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3em 2em;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  -webkit-transform: perspective(800px) rotateY(20deg);
          transform: perspective(800px) rotateY(20deg);
  text-shadow: 0 0 5px black;
}

.services .container .card::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.027);
  mix-blend-mode: lighten;
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
}

.services .container .card::after {
  position: absolute;
  content: "";
  width: 65%;
  height: 5px;
  bottom: -4em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgba(77, 76, 76, 0.123);
  -webkit-box-shadow: 0 0 30px rgba(233, 233, 233, 0.692);
          box-shadow: 0 0 30px rgba(233, 233, 233, 0.692);
}

.services .container .card:hover {
  -webkit-transform: perspective(800px) rotateY(0) scale(1.02) translateY(-10px);
          transform: perspective(800px) rotateY(0) scale(1.02) translateY(-10px);
}

.services .container .card:hover .card__icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services .container .card:hover .card__title {
  color: yellow;
}

.services .container .card:hover::before {
  -webkit-animation: clipaththrout .3s ease-in-out forwards;
          animation: clipaththrout .3s ease-in-out forwards;
}

.services .container .card .card__icon {
  position: relative;
  z-index: 9999;
  text-align: center;
  width: 8em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: perspective(2000px) rotateY();
          transform: perspective(2000px) rotateY();
}

.services .container .card .card__icon img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.services .container .card .card__title {
  text-transform: capitalize;
  text-align: center;
}

/*PORTFOLIO*/
.portfolio {
  min-height: 100vh;
  background-color: #02181b;
  color: white;
}

.portfolio .container {
  padding: 0;
  margin: auto;
  padding: 2em 0 8em;
  width: 75%;
}

.portfolio .container .projet {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  margin-top: 1em;
}

.portfolio .container .projet .projet__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.portfolio .container .projet .projet__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  border-left: none;
  padding: 1em 0;
}

.portfolio .container .projet .projet__meta .projet__title h2 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.portfolio .container .projet .projet__meta .projet__desc {
  width: 75%;
  font-size: .8em;
}

.portfolio .container .projet .projet__meta .projet__meta-metadata {
  font-size: 2em;
  color: #f1c708;
  width: 100%;
  text-align: center;
}

.portfolio .container .projet .projet__meta .projet__meta-metadata span {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  position: relative;
}

.portfolio .container .projet .projet__meta .projet__meta-metadata span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
  color: lightgreen;
}

.portfolio .container .projet:nth-of-type(2) .projet__image, .portfolio .container .projet:nth-of-type(4) .projet__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.portfolio .container .projet:nth-of-type(2) .projet__meta, .portfolio .container .projet:nth-of-type(4) .projet__meta {
  border-left: 1px solid lightgray;
  border-right: none;
}

.contact {
  min-height: 100vh;
  background-color: #202020;
  padding-top: -2em;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 2em 0 8em;
}

.contact .container .section_title {
  color: #bbbbbb !important;
}

.contact .container .map {
  width: 40%;
  overflow: hidden;
  color: #bbb;
  font-family: "poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #c9c9c96c;
  border-right: none;
}

.contact .container .map borde
img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60%;
}

.contact .container .map .coords {
  height: 40%;
}

.contact .container .map .coords h3 {
  text-align: center;
  color: #dad8d8;
}

.contact .container .map .coords ul li span a {
  text-decoration: none !important;
  color: #bbb;
}

.contact .container .form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #c9c9c96c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .form form {
  width: 100%;
  padding: 0 2em 1em;
}

.contact .container .form form .form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .container .form form .form-row label {
  color: #bbbbbb;
  padding-top: 1em;
  font-size: 1.3em;
}

.contact .container .form form .form-row input, .contact .container .form form .form-row textarea {
  width: calc( 100% - 1em);
  padding: .5em;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid lightgray;
  resize: none;
  background-color: transparent;
  color: white;
}

.contact .container .form form .form-row input:focus, .contact .container .form form .form-row input:active, .contact .container .form form .form-row textarea:focus, .contact .container .form form .form-row textarea:active {
  outline: none;
  border: 1px solid rgba(0, 128, 0, 0.699) !important;
  margin: -1px;
}

.contact .container .form form .form-row textarea {
  border: 1px solid rgba(240, 240, 240, 0.473);
}

.contact .container .form form .btn-form {
  color: #fafafa;
  border-radius: 5px;
  background-color: #02181b;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact .container .form form .btn-form:hover {
  text-decoration: none;
  background-color: #03262b;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

footer {
  background-color: #02181b;
}

footer .container {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  color: rgba(211, 211, 211, 0.5);
}

footer .container ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container ul li {
  margin-left: 1em;
}

footer .container ul li a {
  color: lightgray;
  text-decoration: none;
}

footer .container ul li a:hover {
  color: yellow;
}

@media screen and (min-width: 1650px) {
  .home-page .container .col-md-6 .my-name {
    font-size: 6.5em;
  }
  .home-page .container .col-md-6 h1 {
    font-size: 2em;
  }
  .home-page .container .col-md-6 .apropos {
    font-size: 1em;
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 1350px) {
  .home-page .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  nav a {
    font-size: 1em;
  }
  .home-page .container .col-md-6 .my-name {
    font-size: 4em;
  }
  .home-page .container .col-md-6 h1 {
    font-size: 1em;
  }
  .home-page .container .col-md-6 .apropos {
    font-size: .8em;
    padding-bottom: 2em;
  }
  .contact .container {
    width: calc(100% - 4em);
    padding: 2em;
  }
  .contact .container .map .coords ul li {
    margin-top: 1em;
  }
}

@media screen and (max-width: 990px) {
  nav {
    padding-top: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav a {
    font-size: 1em;
  }
  nav a.brand {
    margin-right: 0;
  }
  nav div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em 0;
    -webkit-box-shadow: 0 0 3px lightgray;
            box-shadow: 0 0 3px lightgray;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav div a {
    margin: 1em;
  }
  .home-page .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
  }
  .home-page .container .col-md-6 .my-name {
    font-size: 3em;
    text-align: center;
  }
  .home-page .container .col-md-6 .my-name::after {
    width: 50%;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 5px;
  }
  .home-page .container .col-md-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .home-page .container .col-md-6 .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em;
  }
  .home-page .container .col-md-6 h1 {
    font-size: 1em;
    text-align: center;
  }
  .home-page .container .col-md-6 .apropos {
    font-size: .8em;
    padding-bottom: 2em;
    display: none;
  }
  .services {
    padding-bottom: 0;
  }
  .services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3em;
  }
  .services .container .card {
    -webkit-transform: perspective(0);
            transform: perspective(0);
    margin-bottom: 1em;
  }
  .services .container .card::after {
    display: none;
  }
  .home-page .container .col-md-6 .button-apropos {
    font-size: .8em;
    margin-top: 1em;
  }
  .portfolio .container {
    width: 90%;
    padding: 3em .8em;
  }
  .portfolio .container .projet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .portfolio .container .projet:nth-of-type(2) .projet__image,
  .portfolio .container .projet:nth-of-type(4) .projet__image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .portfolio .container .projet .projet__meta {
    margin-top: -8px;
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
  }
  .portfolio .container .projet .projet__meta .projet__title h2 {
    font-size: 1.5em;
  }
  .portfolio .container .projet .projet__meta .projet__desc {
    font-size: .9em;
    line-height: 1.5em;
    text-align: center;
    width: 95%;
  }
  .contact .container {
    width: 100%;
    padding: 0;
  }
  .container .container h2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .contact .container .form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 0;
  }
  .contact .container .map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .contact .container .map img {
    width: 100%;
  }
  footer {
    padding: 0;
  }
  footer .container {
    width: 100%;
    padding: 2em 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container ul {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin-bottom: 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container ul li {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .services .container .card {
    width: unset;
  }
}
/*# sourceMappingURL=app.css.map */