.home-page{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgb(1, 143, 156), $primary);
    position: relative;
    color: $gray;
    overflow: hidden;
    .bg-decor{
        position: absolute;
        width: 60%;
        height: 80%;
        box-shadow: 0 0 10px #55555588;
        left:10%;
        top: 10%;
        border-radius: 1em;
        transform: rotate(23deg);  
    }
    .bg-decor2{
        position: absolute;
        width: 20em;
        height: 20em;
        box-shadow: 0 0 10px rgba(187, 187, 187, 0.199);
        background-color: rgba(34, 34, 34, 0.123);
        right: 20%;
        top: 10%;
        border-radius: 50%;
        transform: rotate(-33deg);
    }
    .container{
        max-width: 80%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 45% auto;
        .col-md-6{
            position: relative;
            z-index: 2;
            height: 100%;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            display: flex;
            padding: 0 2em;
            .button-apropos{
                border: none;
                background: none;
                color: rgb(255, 255, 255);
                position: relative;
                outline: none;
                border: 2px solid rgba(255, 255, 255, 0.616);
                padding: .5em 1em;
                border-radius: 5px;
                font-size: 1.2em;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s ease;
                cursor: pointer;
                span{
                    margin-left: .5em;
                }
                &:hover{
                    color: $secondary;
                    box-shadow: inset 0 0 2px rgb(255, 255, 255);
                    
                }
                &:active{
                    outline: none;
                    transform: translateY(2px);
                    box-shadow: 0 0px 4px rgb(0, 0, 0);
                }
            }
            .my-name{
                font-size: 5em;
                font-weight: 500;
                font-family: 'Poppins', monospace;
                color: rgba(211, 211, 211, 0.979);
                line-height: .8em;
                position: relative;
                margin-bottom: .5em;
                &::after{
                    content: "";
                    width: 20%;
                    height: 10px;
                    background-color: $secondary;
                    top: 100%;
                    left: 8px;
                    position: absolute;
                }
            }
            .socials{
                display: flex;
                justify-content: flex-start;
                width: 100%;
                font-size: 1.5em;
                padding-left: .5em;
                span{
                    margin-right: 1em;
                    cursor: pointer;
                    &:hover{
                        color: $secondary;
                    }
                }
            }
            h1{
            font-size: 1.5em;
            }
            .introduction{
                position: relative;
                padding-left: 2em;
                text-align: right;
                &::before{
                    content: "";
                    width: 1em;
                    height: 3px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    background-color: rgb(143, 143, 143);
                }
            }
            .apropos{
                margin-top: 1em;
                font-size: .8em;
                line-height: 1.5em;
                color: #f0f0f0;
            }
        }
    

    }
    .scroll-down{
        position: absolute;
        left: 50%;
        bottom: 2em;
        transform: translateX(-50%);
        animation: bounce 1.5s ease infinite ;
    }
}
/* SERVICES */
.services{
    position: relative;
    background-color: #202020;
    color: $gray !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 8em;
    .container{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card{
            background-image: linear-gradient(to left, rgba(71, 71, 71, 0.747), rgba(0, 0, 0, 0.61));
            width: 15em;
            padding: 3em 2em;
            height: 22em;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 3em 2em;
            border-radius: 2px;
            transition: all .3s ease;
            position: relative;
            transform: perspective(800px) rotateY(20deg);
            text-shadow: 0 0 5px black;
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.027);
                mix-blend-mode: lighten;
                clip-path:inset(0% 0% 0% 100%);
            }
            &::after{
                position: absolute;            
                content: "";
                width: 65%;
                height: 5px;
                bottom: -4em;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                background-color: rgba(77, 76, 76, 0.123);
                box-shadow: 0 0 30px  rgba(233, 233, 233, 0.692);
            }
            &:hover{
                transform: perspective(800px) rotateY(0) scale(1.02) translateY(-10px);
                .card__icon{
                    transform: scale(1.2);
                }
                .card__title{
                    color: $secondary;
                }
            }
            &:hover::before{
                animation: clipaththrout .3s ease-in-out forwards;
            }
            .card__icon{
                position: relative;
                z-index: 9999;
                text-align: center;
                width: 8em;
                transition: all .3s ease-in-out;
                transform: perspective(2000px) rotateY();

                img{
                    user-select: none;
                    -webkit-user-drag: none;
                }
            }
            .card__title{
                text-transform: capitalize;
                text-align: center;
            }
        }
    }
}

/*PORTFOLIO*/
.portfolio{
    min-height: 100vh;
    background-color: $primary;
    color: white;
    .container{
        padding: 0;
        margin: auto;
        padding: 2em 0 8em;
        width: 75%;
        .projet{
            width: 100%;
            display: grid;
            grid-template-columns: 50% auto;
            margin-top: 1em;
            .projet__image{
                img{
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .projet__meta{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid gray;
                border-left: none;
                padding: 1em 0;
                .projet__title{
                    h2{
                        font-size: 3em;
                        padding: 0;
                        margin: 0;
                    }
                }
                .projet__desc{
                    width: 75%;
                    font-size: .8em;
                }
                .projet__meta-metadata{
                    font-size: 2em;
                    color: rgb(241, 199, 8);
                    width: 100%;
                    text-align: center;
                    span{
                        transition: all .3s;
                        display: inline-block;
                        position: relative;
                    }
                    // span::after{
                    //     content: attr(data-title);
                    //     position: absolute;
                    //     bottom: 50%;
                    //     left: -100%;
                    //     display: none;
                    //     font-size: .5em;
                    //     transform: scale(.5);
                    //     font-family: "poppins";
                    //     background-color: white;
                    //     border-radius: 1em;
                    //     width: auto;
                    //     color: rgb(31, 31, 31);
                    //     padding: .5em;
                    // }
                    span:hover{
                        transform: scale(1.1);
                        z-index: 2;
                        color: lightgreen;
                    }
                    // span:hover::after{
                    //     display: block;
                    // }
                }
                .btn{
                    padding: .5em 2em;
                    margin-top: 1em;
                    border: 1px solid lightgray;
                    background-color: transparent;
                    color: white;
                    font-size: 1.3em;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        color: $secondary;
                    }
                }
            }
        }
        .projet:nth-of-type(2), .projet:nth-of-type(4){
            .projet__image{
                order: 2;
            }
            .projet__meta{
                border-left: 1px solid lightgray;
                border-right: none;
            }
        }
    }
}
.container{
    flex-wrap: wrap;
}
.section_title{
    width: 100% !important;
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
}
@media screen and (min-width: 1650px){
    .home-page .container .col-md-6 .my-name{
        font-size: 6.5em;
    }
    .home-page .container .col-md-6 h1{
        font-size: 2em;
    }
    .home-page .container .col-md-6 .apropos{
        font-size: 1em;
        padding-bottom: 2em;
    }
}
@media screen and (max-width: 1350px){
    .home-page .container{
        max-width: 100%;
    }
}
@media screen and (max-width: 1150px){
    nav a{
        font-size: 1em;
    }
    .home-page .container .col-md-6 .my-name{
        font-size: 4em;
    }
    .home-page .container .col-md-6 h1{
        font-size: 1em;
    }
    .home-page .container .col-md-6 .apropos{
        font-size: .8em;
        padding-bottom: 2em;
    }
}
@media screen and (max-width: 990px){
    nav{
        padding-top: .5em;
        display: flex;
        flex-direction: column;
    }
    nav a{
        font-size: 1em;
        &.brand{
            margin-right: 0;
        }
    }
    nav div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em 0 ;
        box-shadow:  0 0 3px lightgray;
        flex-wrap: wrap;
        a{
            margin: 1em;
        }
    }
    .home-page .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em ;
    }
    .home-page .container .col-md-6 .my-name{
        font-size: 3em;
        text-align: center;
        &::after {
            width: 50%;
            height: 5px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 5px;
        }
    }
    .home-page .container .col-md-6 {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .home-page .container .col-md-6 .socials{
        justify-content: center;
        padding: 1em;
    }
    .home-page .container .col-md-6 h1{
        font-size: 1em;
        text-align: center;
    }
    .home-page .container .col-md-6 .apropos{
        font-size: .8em;
        padding-bottom: 2em;
        display: none;
    }
    .intro{
        padding-bottom: 0;
    }
    .intro .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3em;
        .card{
            transform: perspective(0);
            width: 90%;
            margin-bottom: 1em;
            &::after{
                display: none;
            }
        }
    }
    .home-page .container .col-md-6 .button-apropos{
        font-size: .8em;
        margin-top: 1em;;
    }
    .portfolio .container{
        width: 90%;
        padding: 3em .8em;
    }
    .portfolio .container .projet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .portfolio .container .projet:nth-of-type(2) .projet__image{
            order: -1;
        
    }
    .portfolio .container .projet .projet__meta .projet__title h2{
        font-size: 1.5em;
    }
    .portfolio .container .projet .projet__meta .projet__desc{
        font-size: .9em;
        line-height: 1.5em;
        text-align: center;
        width: 95%;
    }
}