nav{
    position: absolute;
    z-index: 3;
    padding: 2em 0;
    a{
        color: white !important;
        margin-right: 3em;
        font-size: 1.5em;
        position: relative;
        text-decoration: none;
        &.brand img{
            align-self: flex-start !important;
        }
        &:hover{
            text-decoration: none;
            color: yellow !important;
        }
        &.active::after{
            content: "";
            position:absolute;
            top: 100%;
            left: 50%;
            width: 10px;
            height: 10px;
            background-color: yellow;
            border-radius: 50%;
        }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;

}